  <aside class="aside is-placed-left is-expanded">
    <div class="aside-tools">
      <div class="aside-tools-label">
        <span>Axum Petclinic</span>
      </div>
    </div>
    <div class="menu is-menu-main">
      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li>
          <a href="/vets" class="has-icon">
            <span class="icon">
              <i class="mdi mdi-account"></i></span>
            <span class="menu-item-label">Vets</span>
          </a>
        </li>
        <li>
          <a href="/pets" class="has-icon">
            <span class="icon"><i class="mdi mdi-paw"></i></span>
            <span class="menu-item-label">Pets</span>
          </a>
        </li>
        
      </ul>
    </div>
  </aside>

